In [97]:
# Import the modules
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pandas as pd

In [98]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
blackjack_df = pd.read_csv("Resources/blkjckhands_reduced.csv")

# Review the DataFrame
blackjack_df.head()

,PlayerName,PlayerNo,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,...,dealcard4,dealcard5,sumofdeal,blkjck,winloss,plybustbeat,dlbustbeat,plwinamt,dlwinamt,ply2cardsum
0,0,Player1,7,10,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
1,1,Player2,10,9,0,0,0,19,10,8,...,0,0,18,nowin,Win,Plwin,Beat,20,0,19
2,2,Player3,9,8,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
3,3,Player4,2,10,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12
4,4,Player5,10,2,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12

In [99]:
# Separate the data into labels and features
label_encoder = LabelEncoder()
blackjack_df['winloss_encoded'] = label_encoder.fit_transform(blackjack_df['winloss'])

# Separate the y variable, the labels
y = blackjack_df['winloss_encoded']

# Separate the X variable, the features
X = blackjack_df[['card1','card2','dealcard1','dealcard2','ply2cardsum']]

In [101]:
# Review the y variable Series
print(y)

0         0
1         2
2         0
3         0
4         0
         ..
299995    0
299996    0
299997    0
299998    0
299999    1
Name: winloss_encoded, Length: 300000, dtype: int32

In [102]:
# Review the X variable DataFrame
X

        card1  card2  dealcard1  dealcard2  ply2cardsum
0           7     10         10          8           17
1          10      9         10          8           19
2           9      8         10          8           17
3           2     10         10          8           12
4          10      2         10          8           12
...       ...    ...        ...        ...          ...
299995      5      8          2          4           13
299996      4      2          2          4            6
299997      2      8          2          4           10
299998      7      5          2          4           12
299999      4      8          2          4           12

[300000 rows x 5 columns]

In [103]:
# Split the data using train_test_split
# Assign a random_state to the function
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=1, stratify=y_resampled)

In [110]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter to the model
classifier = RandomForestClassifier(n_estimators=200, max_depth=15, random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=15, n_estimators=200, random_state=1)

In [111]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)

In [112]:
#Display predictions in a Dataframe
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

        Prediction  Actual
279247           0       0
88425            0       2
16440            2       2
149934           1       0
66116            0       2
...            ...     ...
47858            2       2
425681           2       2
51820            0       2
364324           0       1
251618           2       2

[106971 rows x 2 columns]

In [113]:
# Generate a confusion matrix for the model
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual Push", "Actual Loss", "Actual Win"], 
    columns=["Predicted Push", "Predicted Loss", "Predicted Win"]
)

print("Confusion Matrix")
display(cm_df)

Confusion Matrix

             Predicted Push  Predicted Loss  Predicted Win
Actual Push           24752            4019           6886
Actual Loss            8023           20333           7301
Actual Win             8499            4668          22490

In [114]:
# Calculating the accuracy score
accuracy = accuracy_score(y_test, predictions)

In [115]:
# Print the classification report for the model
print(f"Accuracy Score : {accuracy}")
print("Classification Report")
print(classification_report(y_test, predictions))

Accuracy Score : 0.6317132680820036
Classification Report
              precision    recall  f1-score   support

           0       0.60      0.69      0.64     35657
           1       0.70      0.57      0.63     35657
           2       0.61      0.63      0.62     35657

    accuracy                           0.63    106971
   macro avg       0.64      0.63      0.63    106971
weighted avg       0.64      0.63      0.63    106971