In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

In [4]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

In [5]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
blackjack_df = pd.read_csv("Resources/blkjckhands_reduced.csv")

# Review the DataFrame
blackjack_df.head()

,PlayerName,PlayerNo,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,...,dealcard4,dealcard5,sumofdeal,blkjck,winloss,plybustbeat,dlbustbeat,plwinamt,dlwinamt,ply2cardsum
0,0,Player1,7,10,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
1,1,Player2,10,9,0,0,0,19,10,8,...,0,0,18,nowin,Win,Plwin,Beat,20,0,19
2,2,Player3,9,8,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
3,3,Player4,2,10,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12
4,4,Player5,10,2,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12

In [12]:
# Separate the data into labels and features

# Encoding the "winloss" column using LabelEncoder (place this here)
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
blackjack_df['winloss_encoded'] = label_encoder.fit_transform(blackjack_df['winloss'])

# Separate the y variable, the labels
y = blackjack_df['winloss_encoded']

# Separate the X variable, the features
X = blackjack_df.drop(columns=['winloss', 'PlayerName', 'PlayerNo',"blkjck","plybustbeat","dlbustbeat"])

In [13]:
# Review the y variable Series
print(y)

0         0
1         2
2         0
3         0
4         0
         ..
299995    0
299996    0
299997    0
299998    0
299999    1
Name: winloss_encoded, Length: 300000, dtype: int32

In [14]:
# Review the X variable DataFrame
X

,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,dealcard3,dealcard4,dealcard5,sumofdeal,plwinamt,dlwinamt,ply2cardsum,winloss_encoded
0,7,10,0,0,0,17,10,8,0,0,0,18,0,10,17,0
1,10,9,0,0,0,19,10,8,0,0,0,18,20,0,19,2
2,9,8,0,0,0,17,10,8,0,0,0,18,0,10,17,0
3,2,10,0,5,0,17,10,8,0,0,0,18,0,10,12,0
4,10,2,0,5,0,17,10,8,0,0,0,18,0,10,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,5,8,0,0,0,13,2,4,11,0,0,17,0,10,13,0
299996,4,2,7,0,0,13,2,4,11,0,0,17,0,10,6,0
299997,2,8,3,0,0,13,2,4,11,0,0,17,0,10,10,0
299998,7,5,0,4,0,16,2,4,11,0,0,17,0,10,12,0
299999,4,8,0,5,0,17,2,4,11,0,0,17,10,0,12,1

In [15]:
# Split the data using train_test_split
# Assign a random_state to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [18]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

C:\Users\kayla\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [19]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)

In [20]:
#Display predictions in a Dataframe
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

        Prediction  Actual
18347            1       1
165043           0       0
222881           0       0
11634            1       1
20162            2       2
...            ...     ...
104452           0       0
191169           2       2
230375           0       0
105888           2       2
108909           0       0

[75000 rows x 2 columns]

In [22]:
# Generate a confusion matrix for the model
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual Push", "Actual Loss", "Actual Win"], 
    columns=["Predicted Push", "Predicted Loss", "Predicted Win"]
)

print("Confusion Matrix")
display(cm_df)

Confusion Matrix

             Predicted Push  Predicted Loss  Predicted Win
Actual Push           35657               0              0
Actual Loss               0            6999              0
Actual Win                0               0          32344

In [23]:
# Calculating the accuracy score
accuracy = accuracy_score(y_test, predictions)

In [24]:
# Print the classification report for the model
print(f"Accuracy Score : {accuracy}")
print("Classification Report")
print(classification_report(y_test, predictions))

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     35657
           1       1.00      1.00      1.00      6999
           2       1.00      1.00      1.00     32344

    accuracy                           1.00     75000
   macro avg       1.00      1.00      1.00     75000
weighted avg       1.00      1.00      1.00     75000